<%- include("header.ejs") %>
<body>
<div class="wrap">
  <h1>Enter Your MyAnimeList Profile:</h1>
  <div class="search">
    <form action="<%= (type === 'anime' ? '/' : '/manga') %>" method="post">
      <input
        type="text"
        name="mal"
        class="searchTerm" 
        placeholder="MyAnimeList Profile"
        required
      />
      <button type="submit" class="searchButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
      </button>
    </form>
  </div>
</div>
<% if(err!=null) { %>
<% if(err.status===403){ %>
  <h1 style="color: red;">Error: animelist not public</h1>
<% } %>
</div>
<% if(err.status===404){ %>
  <h1 style="color: red;">Error: username not found or invalid username</h1>
<% } %>
</div>
<% if(err.status>=500){ %>
  <h1 style="color: red;">Error: myanimelist server is down</h1>
<% } %>
</div>
<% if(err.status==null){ %>
  <h1 style="color: red;">Error: this server is down</h1>
  <h1 style="color: red;">Check if this server has proper internet connection</h1>
<% } %>
<% } %>
  <% if(data!=null) {%>
    <h1>Random <%= (type === 'anime' ? 'Anime' : 'Manga') %> from Your Plan To <%= (type === 'anime' ? 'Watch' : 'Read') %> List:</h1>
  <div class="anime-content">
    <div class="anime-info">
      <div class="anime-cover">
        <a href="https://myanimelist.net/<%= type %>/<%= data.id %>" target="_blank"
          ><img border="0" src="<%= data.main_picture.large %>" alt="<%= data.title %>"
        /></a>
      </div>
      <div class="anime-details">
        <strong>Name:</strong> <%= data.title %><br />
        <strong>Rating:</strong> <%= data.mean %><br />
        <strong>Genres:</strong> <%= data.genres.map((genre) => ' '+genre.name) %><br />
        <strong><%= (type === 'anime' ? 'Streaming' : 'Reading') %> Links: (May contain broken links)</strong> 
        <div class="streaming-links">
          <% if (data.mediaLinks.length > 0) { data.mediaLinks.forEach((site) => { %>
            <a href="<%= site.url %>" style="background-color: <%= site.color %>;" data-color="<%= site.color %>" target="_blank">
              <img src="<%= site.icon %>">
              <span><%= site.site %><span>
            </a>
          <% })} else { %>
            <div class="no-streamlinks-msg">No <%= (type === 'anime' ? 'Streaming' : 'Reading') %> Links Available</div>
          <% } %>
        </div>
        <strong><%= (type === 'anime' ? "Episodes" : "Chapters") %>:</strong> <%= (type === 'anime' ? data.num_episodes : data.num_chapters) %><br />
        <strong>Status:</strong> <%= data.status %><br />
        <strong>Synopsis:</strong> <div class="synopsis"> <%- data.synopsis.replace(/\n\n/g,'<br>') %></div><br />
      </div>
    </div>
  </div>
<% } %> 
<%- include("footer.ejs") %>
</body>