<%- include("header.ejs") %>
<body>
  <%- include("userform.ejs") %>
  <h1>Random Manga from Your Plan To Read List:</h1>
  <div class="anime-content">
    <div class="anime-info">
      <div class="anime-cover">
        <a href="https://myanimelist.net/manga/<%= data.id %>" target="_blank"
          ><img border="0" src="<%= data.main_picture.large %>" alt="<%= data.title %>"
        /></a>
      </div>
      <div class="anime-details">
        <strong>Name:</strong> <%= data.title %><br />
        <strong>Rating:</strong> <%= data.mean %><br />
        <strong>Genres:</strong> <%= data.genres.map((genre) => ' '+genre.name) %><br />
        <strong>Chapters:</strong> <%= data.num_chapters %><br />
        <strong>Status:</strong> <%= data.status %><br />
        <strong>Synopsis:</strong> <div class="synopsis"> <%- data.synopsis.replace(/\n\n/g,'<br>') %></div><br />
      </div>
    </div>
  </div>
  <%- include("footer.ejs") %>
</body>